<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITHelpDeskApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ITHelpDeskApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="p-4 mb-3 border d-flex justify-content-between" style="transform: rotate(0);">
         <div><!-- Diplay the logged in User's first name -->
             <h3>Welcome, @ViewData["LoggedInFirstName"]</h3>
        </div>
        <div><!-- Display the name of the app and return users to the Ticket Overview when clicked -->
            <h1><a style="text-decoration: none;" class="" asp-controller="Home" asp-action="Index">Ticket Manager</a></h1>
        </div>
        <div><!-- Logout button -->
            <a asp-controller="Login" asp-action="Logout" class="btn btn-warning logoutButton">Logout</a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h2>@ViewData["Subheader"]</h2>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HelpDeskApp - Tommy Veliyathil
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
