@model LoginUser

@{ 
    ViewData["Title"] = "Login Page"; 
    Layout = "_loginLayout";
}

<!-- Display any error messages such as wrong username/password here -->
<h2>@ViewData["ErrorMessage"]</h2>

<form asp-controller="Login" asp-action="ValidateLogin" method="post" class="border border-light p-5">
    <p class="h4 mb-4 text-center">Sign in</p>

    <input asp-for="Username" class="form-control mb-4" placeholder="Username">

    <input asp-for="Password" type="password" class="form-control mb-4" placeholder="Password">

    <button class="btn btn-warning btn-block my-4" type="submit">Sign in</button>
</form>
